.side-bar{
  display: flex;
  height: 100%;
  padding: 10px;
  flex-direction: column;
}

.recomendations{
  font-size: 15px;
  color: #753170;
}

.toggle-btn {
  border: transparent;
  background-color: #F9F5E3;
  cursor: pointer;
}

.arrow-left {
  height: 10px;
  padding-left: 2px;
}

.slash_right {
  height: 10px;
  transform: rotate(52deg);
}

