<main>
  <h1 class="category_header"><p>Categories</p></h1>
  <div class="content">
    <article class="categories">
      <ul id="category_list">
        <li class="category" (click)="selectCategory('VIDEOGAMES')" [ngClass]="{'selected': selectedCategory === 'VIDEOGAMES'}">VIDEOGAMES <img class="category__img" src="/assets/gamepad-solid.svg"></li>
        <li class="category" (click)="selectCategory('ESPORTS')" [ngClass]="{'selected': selectedCategory === 'ESPORTS'}">ESPORTS <img class="category__img" src="/assets/medal-solid.svg"></li>
        <li class="category" (click)="selectCategory('JUST CHATTING')" [ngClass]="{'selected': selectedCategory === 'JUST CHATTING'}">JUST CHATTING <img class="category__img" src="/assets/microphone-solid.svg"></li>
        <li class="category" (click)="selectCategory('IRL')" [ngClass]="{'selected': selectedCategory === 'IRL'}">IRL <img class="category__img" src="/assets/video-solid.svg"></li>
        <li class="category" (click)="selectCategory('CREATIVE')" [ngClass]="{'selected': selectedCategory === 'CREATIVE'}">CREATIVE <img class="category__img" src="/assets/paintbrush-solid.svg"></li>
        <li class="category" (click)="selectCategory('MUSIC')" [ngClass]="{'selected': selectedCategory === 'MUSIC'}">MUSIC <img class="category__img" src="/assets/music-solid.svg"></li>
      </ul>
    </article>
    <div class="additional-videos">
      <div class="video" routerLink="/streaming" ><img src="./assets/previsualizacion_stream.webp" alt="Video 1"></div>
      <div class="video" routerLink="/streaming" ><img src="./assets/previsualizacion_stream.webp" alt="Video 2"></div>
      <div class="video" routerLink="/streaming" ><img src="./assets/previsualizacion_stream.webp" alt="Video 3"></div>
      <div class="video" routerLink="/streaming" ><img src="./assets/previsualizacion_stream.webp" alt="Video 4"></div>
      <div class="video" routerLink="/streaming"><img src="./assets/previsualizacion_stream.webp" alt="Video 1"></div>
      <div class="video" routerLink="/streaming" ><img src="./assets/previsualizacion_stream.webp" alt="Video 2"></div>
      <div class="video" routerLink="/streaming" ><img src="./assets/previsualizacion_stream.webp" alt="Video 3"></div>
      <div class="video" routerLink="/streaming" ><img src="./assets/previsualizacion_stream.webp" alt="Video 4"></div>
      <!-- Agrega más videos aquí según sea necesario -->
    </div>
  </div>


  <!--  <article class="streams">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--  </article>-->
<!--  <article class="streams_2">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--  </article>-->
<!--  <article class="streams_3">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--  </article>-->
<!--  <article class="streams_4">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--    <img  width="200px" height="250px" style="background: #d0a5c0" class="stream">-->
<!--  </article>-->
</main>
