<main>
  <h1 class="category_header"><p>Categories</p></h1>
  <div class="content">
    <article class="categories">
      <ul id="category_list">
        <li class="category" (click)="selectCategory('Videogames')" [ngClass]="{'selected': selectedCategory === 'Videogames'}">VIDEOGAMES <img class="category__img" src="/assets/gamepad-solid.svg"></li>
        <li class="category" (click)="selectCategory('Esports')" [ngClass]="{'selected': selectedCategory === 'Esports'}">ESPORTS <img class="category__img" src="/assets/medal-solid.svg"></li>
        <li class="category" (click)="selectCategory('Just Chatting')" [ngClass]="{'selected': selectedCategory === 'Just Chatting'}">JUST CHATTING <img class="category__img" src="/assets/microphone-solid.svg"></li>
        <li class="category" (click)="selectCategory('IRL')" [ngClass]="{'selected': selectedCategory === 'IRL'}">IRL <img class="category__img" src="/assets/video-solid.svg"></li>
        <li class="category" (click)="selectCategory('Creative')" [ngClass]="{'selected': selectedCategory === 'Creative'}">CREATIVE <img class="category__img" src="/assets/paintbrush-solid.svg"></li>
        <li class="category" (click)="selectCategory('Music')" [ngClass]="{'selected': selectedCategory === 'Music'}">MUSIC <img class="category__img" src="/assets/music-solid.svg"></li>
      </ul>
    </article>
    <article class="additional-videos">
      @for(streamers of users; track streamers;){
        <app-streamPreview [user] = "streamers"></app-streamPreview>
      }
    </article>
  </div>
</main>
