@if(user){
  <div class="configuracion">
    <ul class="nav">
      <li (click)="seleccionar('perfil')" [ngClass]="{'activo': tabSeleccionado === 'perfil'}">Perfil</li>
      <li (click)="seleccionar('transmitir')" [ngClass]="{'activo': tabSeleccionado === 'transmitir'}">Transmitir</li>
    </ul>


    <div *ngIf="tabSeleccionado === 'perfil'">
      <div class="imagen-perfil">
        <h2>Imagen de perfil</h2>
        <div>
          <img [src]="user.pictureURL" alt="Imagen de perfil">
          <div>
            <button (click)="actualizarImagen()">Actualizar imagen de perfil</button>
            <p>El formato debe ser JPEG o PNG y no puede superar los 10 MB.</p>
          </div>
        </div>
      </div>

      <div class="ajustes-perfil">
        <h2>Ajustes del perfil</h2>
        <label for="nombrePerfil">Nombre de perfil:</label>
        <input type="text" id="nombrePerfil" [(ngModel)]="user.username"[readonly]="!isEditingNombre" [ngClass]="{'editar': isEditingNombre === false }">
        <button (click)="toggleEditNombre()"><i class="fa fa-pencil"></i></button>

        <label for="biografia">Biografía:</label>
        <textarea id="biografia" [(ngModel)]="user.biography"></textarea>

        <button (click)="guardarCambios()">Guardar cambios</button>
      </div>
    </div>

    <div *ngIf="tabSeleccionado === 'transmitir'">
      <div class="clave-transmision">
        <h2>Clave de transmisión</h2>
        <button class="genericButton" >Generar clave de retransmisión</button>
        <div>
          <label for="serverLink">Link del servidor:</label>
          <input type="text" id="serverLink" [(ngModel)]="user.streamUrl" [readonly]="true">
        </div>

        <div>
          <label for="transmissionKey">Clave:</label>
          <input [type]="isVisible ? 'text' : 'password'" id="transmissionKey" value='{{user.streamPassword}}' [readonly]="true">
          <button (click)="toggleVisibility()"><i class="fa fa-eye"></i></button>
        </div>
        <p>No compartas la clave con nadie</p>
        <br>
        <div class="stream_title">
          Título del stream: <textarea class="stream_textarea" rows="1" placeholder="Título del stream"></textarea>
        </div>
        <br>
        <div class="stream_subtitle">
          Subtítulo del stream: <textarea class="stream_textarea"  rows="1" placeholder="Subtítulo del stream:"></textarea>
        </div>
        <br>
        <div class="stream_category">
          Categorías del streaming:
          <button (click)="addCategory('Videogames')"  class="category"> Videogames </button>
          <button (click)="addCategory('Esports')" class="category"> Esports </button>
          <button (click)="addCategory('Just Chatting')" class="category"> Just chatting </button>
          <button (click)="addCategory('IRL')" class="category"> IRL </button>
          <button (click)="addCategory('Creative')" class="category"> Creative </button>
          <button (click)="addCategory('Music')" class="category"> Music </button>
        </div>
        <br>
        <div class="selected_category">
          <ul class="list_cat">
            <li>Categorías seleccionadas:</li>
            <li class="mt-2 mb-1" *ngFor="let item of selected_categories">
              <button class="btn btn-danger " id="delete"
                      (click)="eraseCategory(item)"> <img src="Images/close.png" class="close_btn"> <span  *ngIf="selected_categories" class="item">{{item}}</span></button>

            </li>
          </ul>
        </div>
        <br>
        <app-togglestreambutton></app-togglestreambutton>
      </div>
    </div>
  </div>
}

