.streamer-main {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 75vh;
}

.stream p{
  font-size: 15px;
  margin-top: 0;
  color: #753170;
}

iframe {
  width: 90%;
  height: 100%;
  margin-top: 1%;
  margin-left: 2%;
}
.streamer{
  cursor: pointer;
  margin: 5px;
}
.profile-picture {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: 1px solid #753170;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: auto;
  margin-left: 2%;
}

.streamer {
  display: flex;
  padding-top: 10px;
  height: 30px;
}

.username {
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight: bold;
  color: #753170;
}

.streamer-info {
  margin-left: 1%;
  margin-top: 1%;
}



