
<main class="streamer-main">
  <article>
    <app-side-bar></app-side-bar>
  </article>
  <article class="stream">
    <iframe id="player" src="https://pruebastreaming.ddns.net/?hls=hls1" allowfullscreen="allowfullscreen"></iframe>
    <section class="streamer">
      <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture">
      <div class="streamer-info">
        <h1 class="username">Tobias</h1>
        <p class="title">Título Stream</p>
      </div>
    </section>
  </article>


</main>

