.sidenav{
  height: 100%;
}
.follow-icon{
  height: 3vh;
  padding: 5px;
}

.recomendations{
  font-size: 18px;
  color: #753170;
}
.streamers {
  padding: 5px;
}

.profile-picture {
  height: 3vh;
  border-radius: 50%;
  border: 1px solid #753170;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: auto;
  cursor: pointer;

}

* {
  margin: 0;
  padding: 0;
}


.fa-solid.fa-angles-right{
  padding-top: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Utilizamos flexbox */
  flex-direction: column; /* Mostramos los elementos en columna */
  align-items: center; /* Centramos los elementos horizontalmente */
}
