.sidenav{
  height: 100%;
  padding: 10px;
}

.slash_left{
  height: 10px;
  transform: rotate(52deg);
}
.arrow-right{
  height: 10px;
}

.toggle-btn{
  border: transparent;
  background-color: #F9F5E3;
  cursor: pointer;
  padding-left: 15px;
  padding-bottom: 7px;
}

.follow-icon{
  height: 30px;
  padding-left: 7px;
}

.recomendations{
  font-size: 18px;
  color: #753170;
}

#first-stream {
  padding-top: 4px;
  padding-left: 5px;
}

.streamers {
  padding-left: 5px;
  padding-top: 7px;
}

.profile-picture {
  height: 30px;
  border-radius: 50%;
  border: 1px solid #753170;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: auto;
  cursor: pointer;

}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

