<main class="sidenav">
  <ul>
    <li>
      <img src="../../assets/heart-solid.svg" class="follow-icon">
      <button (click)="Toggle()" >Abrir</button>
    </li>
    <li id="first-stream">
      <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture">
    </li>
    <li class="streamers">
      <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture">
    </li>
    <li class="streamers">
      <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture">
    </li>
    <li class="streamers">
      <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture">
    </li>
    <li class="streamers">
      <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture">
    </li>
  </ul>
</main>

