<body>
  <div class="carousel-container">
    <i class="fa-solid fa-angle-left" (click)="prev()"></i>
    <iframe class="carousel-content" [src]="getVideoUrl()" frameborder="0" allowfullscreen></iframe>
    <i class="fa-solid fa-angle-right" (click)="next()"></i>
  </div>
  <!-- Contenedor para los videos adicionales -->
  <div class="additional-videos">
    @for(streamers of users; track streamers;){
      <img routerLink="/streaming" src="{{streamers.pictureURL}}" class="video">
    }
  </div>
</body>

