body{
  width: 85vw;
  padding-left: 3%;
}
.carousel-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.carousel-content{
  width: 30%;
  aspect-ratio: 16/9;
}

.carousel-container i {
  font-size: 4em;
  color: #d0a5c0;
  cursor: pointer;
}

.additional-videos {
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

