<div class="navbar">
  <div class="left">
    <img src="../../assets/Logo.svg" class="logo" alt="Logo" (click)="navigateToStreaming()">
    <p class="Siguiendo">Siguiendo</p>
    <p class="Categorias">Categorías</p>
  </div>
  <div class = barra_busqueda>
    <input type="text" placeholder="Buscar">
    <button id="search-icon" class="searchbutton" aria-label="Buscar">
      <i class="fa-solid fa-magnifying-glass textarea-icon"></i>
    </button>
  </div>
  <div class="profile">
    <app-register-button (onRegister)="openPopup('register')"></app-register-button>
    <app-login-button (onLogin)="openPopup('login')"></app-login-button>
    <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture" (click)="navigateToProfile()">

</div>
