.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #d0a5c0;
  align-items: center;
  justify-content: space-between;
}

.left{
  display: flex;
  flex: 1;
}
.logo {
  width: 20%;
  height: auto;
}

.barra_busqueda {
  display: flex;
  height: 90%;
  flex:2;
  justify-content: center;
}

input {
  display: flex;
  width: 50vh;
  border-radius: 40px 0 0 40px;
  padding: 8px;
  border: none;
}

.searchbutton{
  background-color: white;
  border: none;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  width: 40px;
}

.navbar p{
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 15px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Libre Baskerville";
}

.profile-picture {
  width: 40px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #753170;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: auto;
}
.profile {
  display: flex;
  flex:1;
  justify-content: end;
}

.button {
  background-color: #F9B4ED;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 15px;
}

.button:hover {
  background-color: #d0a5c0;
}
.left div, .left p {
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 15px;
  font-weight: bold;
  color: #FFFFFF;
  font-family: "Libre Baskerville";
  cursor: pointer; /* Agrega cursor pointer para indicar que es clickable */
}
