<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="contenedor-botones">
  <button [ngClass]="estadoStreamService.estadoBoton === 0 ? 'boton-iniciar' : 'boton-detener'"
          (click)="cambiarEstado()">
    <i class="fa" [class.fa-play]="estadoStreamService.estadoBoton === 0"
       [class.fa-stop]="estadoStreamService.estadoBoton === 1"></i>
    {{ estadoStreamService.estadoBoton === 0 ? 'Iniciar Stream' : 'Detener Stream' }}
  </button>
</div>
