
  <div class="popup-content">
    <div class="popup-header">
      <img src="Images/BloosomLogo.png" class="popup-icon">
      <div class="popup-title">Únete a Blossom</div>
    </div>
    <form class="popup-form" [formGroup]="registerForm" (ngSubmit)="submit()">
      @if(errorMessage){
        <div class="error-message">{{ errorMessage }}</div>
      }
      <label class="popup-label" for="username">Nombre de usuario</label>
      <input class="popup-input" type="text" id="username" formControlName="username" required>
      <label class="popup-label" for="password">Contraseña</label>
      <input class="popup-input" type="password" id="password" formControlName="password" required>
      <label class="popup-label">Fecha de nacimiento</label>
      <div class="popup-date">
        <input class="popup-input" type="number" id="day" formControlName="day" placeholder="Día" required>
        <select class="popup-input" id="month" formControlName="month" required>
          <option value="" disabled selected>Mes</option>
          <option value="1">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
          <option value="4">Abril</option>
          <option value="5">Mayo</option>
          <option value="6">Junio</option>
          <option value="7">Julio</option>
          <option value="8">Agosto</option>
          <option value="9">Septiembre</option>
          <option value="10">Octubre</option>
          <option value="11">Noviembre</option>
          <option value="12">Diciembre</option>
        </select>
        <input class="popup-input" type="number" id="year" formControlName="year" placeholder="Año" required>
      </div>
      <label class="popup-label" for="email">Email</label>
      <input class="popup-input" type="email" id="email" formControlName="email" required>
      <button class="popup-button" type="submit" id="register">Registrarse</button>
    </form>
  </div>
