@font-face {
  font-family: 'JejuGothic';
  src: url('../../assets/JejuGothic-Regular.ttf') format('truetype');
}

.siguiendo-container {
  font-family: 'JejuGothic', sans-serif;
  width: 85vw;
  padding: 3%;
}

.recomendados-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}


.seccion-directos h2, .seccion-recomendados h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid black; /* Crea el subrayado */
  display: inline-block; /* Asegura que el subrayado solo cubra el texto */
}
