<div class="siguiendo-container">
  <h1>Siguiendo</h1>
  <div class="seccion-directos">
    <h2>Canales que sigues</h2>
    <div class="directos-container">
      @for(follow of follows; track follow;){
        <app-streamPreview [user] = "follow"></app-streamPreview>
      }
    </div>
  </div>
  <div class="seccion-recomendados">
    <h2>Canales recomendados</h2>
    <div class="recomendados-container">
      @for(streamers of users; track streamers;){
        <app-streamPreview [user] = "streamers"></app-streamPreview>
      }
    </div>
  </div>
</div>
