
  <div class="popup-content">
    <div class="popup-header">
      <img src="Images/BloosomLogo.png" class="popup-icon">
      <div class="popup-title">Inicia sesión en Blossom</div>
    </div>
    <form class="popup-form" [formGroup]="loginForm" (ngSubmit)="submit()">
      <label class="popup-label" for="username">Nombre de usuario</label>
      <input class="popup-input" type="text" id="username" formControlName="loginMail" required>
      <label class="popup-label" for="password">Contraseña</label>
      <input class="popup-input" type="password" id="password" formControlName="loginPwd" required>
      <button class="popup-button" type="submit" id="login">Iniciar sesión</button>
    </form>
  </div>
