@font-face {
  font-family: Libre Baskerville;
  src: url("/Font/LibreBaskerville-Bold.ttf");
}

.popup-content {
  width: 40vw;
  background-color: #FFDEF3;
  border-radius: 10px;
  border: 2px solid #42033D;
  padding: 20px;
  box-sizing: border-box;
}

.popup-header {
  display: flex;
  align-items: center;
}

.popup-icon {
  width:20%;
  overflow: hidden;
}

.popup-title {
  text-align: left;
  font-size: 24px;
  margin-left: 10px;
}

.popup-form {
  margin-top: 20px;
}

.popup-label {
  display: block;
  margin-bottom: 5px;
}

.popup-input {
  display: block;
  width: 100%;
  height: 30px;
  border: 2px solid #42033D;
  border-radius: 15px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.popup-button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #854798;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
