#categories {
  list-style-type: none;
  margin-left: 10%;
  margin-right: 50%;
}

.category__img {
  height: 40px;
}
.category {
  font-size: 40px;
}
.toggle-btn {
  font-size: 20px;
  cursor: pointer;
  border: transparent;
  background-color: #F9F5E3;
}

.toggle-btn-compressed {
  font-size: 20px;
  cursor: pointer;
  border: transparent;
  background-color: #F9F5E3;
}

main {
  display: flex; /* Utilizamos flexbox para alinear los elementos secundarios */
}

#sideif {
  width: 250px;
  /* Mantenemos las propiedades anteriores */
}

.categories {
  flex: 3; /* Hacemos que el contenedor de categorías ocupe todo el espacio disponible */
  display: flex; /* Utilizamos flexbox para alinear los elementos de las categorías */
  flex-direction: column; /* Colocamos los elementos de las categorías en una columna */
  justify-content: space-around; /* Distribuimos los elementos verticalmente */
  align-items: center; /* Centramos los elementos horizontalmente */

}

.category {
  font-size: 50px;
  margin-bottom: 2%;
  border: solid #D0A5C0;
  background-color: #d0a5c0;
  border-radius: 10px;
  line-height: 1.5;
  cursor: pointer;
  display: flex; /* Utilizamos flexbox para alinear los elementos de la categoría */
  align-items: center; /* Centramos los elementos verticalmente */
}

.category_header {
  font-size: 50px;
  margin-bottom: 2%;


  border-radius: 10px;
  line-height: 1.5;
  cursor: pointer;
  display: flex; /* Utilizamos flexbox para alinear los elementos de la categoría */
  align-items: center; /* Centramos los elementos verticalmente */
}

.category__img {
  height: 40px;
  margin-left: auto; /* Colocamos la imagen al lado derecho */
  padding-left: 100px;
}

.streams_1 {
  flex: 1; /* Hacemos que esta sección ocupe el espacio restante */
  display: flex; /* Utilizamos flexbox para alinear los elementos de los streams */
  flex-direction: column;
  justify-content: space-around; /* Distribuimos los elementos verticalmente */
  align-items: normal; /* Centramos los elementos horizontalmente */
  padding: 0 10px; /* Añadimos un poco de espacio a los lados */
  cursor: pointer;
}

.streams_2 {
  flex: 1; /* Hacemos que esta sección ocupe el espacio restante */
  display: flex; /* Utilizamos flexbox para alinear los elementos de los streams */
  flex-direction: column;
  justify-content: space-around; /* Distribuimos los elementos verticalmente */
  align-items: normal; /* Centramos los elementos horizontalmente */
  padding: 0 10px; /* Añadimos un poco de espacio a los lados */
  cursor: pointer;
}

.streams_3 {
  flex: 1; /* Hacemos que esta sección ocupe el espacio restante */
  display: flex; /* Utilizamos flexbox para alinear los elementos de los streams */
  flex-direction: column;
  justify-content: space-around; /* Distribuimos los elementos verticalmente */
  align-items: normal; /* Centramos los elementos horizontalmente */
  padding: 0 10px; /* Añadimos un poco de espacio a los lados */
  cursor: pointer;
}

.streams_4 {
  flex: 1; /* Hacemos que esta sección ocupe el espacio restante */
  display: flex; /* Utilizamos flexbox para alinear los elementos de los streams */
  flex-direction: column;
  justify-content: space-around; /* Distribuimos los elementos verticalmente */
  align-items: normal; /* Centramos los elementos horizontalmente */
  padding: 0 10px; /* Añadimos un poco de espacio a los lados */
  cursor: pointer;
}

.stream {
  margin: 3%;
}
