.streamer{
  cursor: pointer;
  margin: 5px;
}
.profile-picture {
  height: 100%;
  border-radius: 50%;
  border: 1px solid #753170;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: auto;
}

.streamer {
  display: flex;
  padding-top: 10px;
  height: 30px;
}

.username {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
  color: #753170;
}

.directo {
  display: flex;
  margin-left: auto; /* Mueve el elemento a la derecha del contenedor (.user) */
  align-items: baseline;
}

.direct-icon{
  color: red;
  font-size: 8px;
}
