.profile-picture {
  height: 3vh;
  border-radius: 50%;
  border: 1px solid #753170;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1/1;
  object-fit: cover;
  margin: auto;
  cursor: pointer;
}

.streamers {
  padding: 5px;
}
