.streamer-main {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

.stream p{
  font-size: 15px;
  margin-top: 0;
  color: #753170;
}

.stream {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

iframe {
  aspect-ratio: 16/9; /* Establece la relación de aspecto del video */
  margin-top: 1%;
  margin-left: 2%;
  border: 3px solid #753170;
  border-radius: 2px;
}

.profile-picture {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: 1px solid #753170;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: auto;
  margin-left: 2%;
}

.streamer {
  display: flex;
  padding-top: 10px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
}

.username {
  margin-bottom: 1%;
  margin-top: 1%;
  font-weight: bold;
  color: #753170;
}

.streamer-info {
  margin-left: 1%;
  margin-top: 1%;
}

.buttons{
  margin-left: auto;
}

.genericButton{
  padding: 5px ;
  margin: 5px;
  color: #d0a5c0;
  background-color: white;
  font-weight: bold;
  border: 2px solid #d0a5c0; /* Grosor y color del borde */
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.genericButton:active {
  transform: scale(0.9); /* Reduce el tamaño del botón al hacer clic */
}

.fa-solid.arr
