@if(user){
  <main class="streamer-main">

    <iframe id="player" [src]="getVideoUrl()" scrolling="no" allowfullscreen type="video/mp4"></iframe>
    <section class="streamer">
      <img class="profile-picture" src="{{user.pictureURL}}" alt="profile picture">
      <div class="streamer-info">
        <h1 class="username">{{user.username}} </h1>
        <p class="title">Título Stream</p>
      </div>
      <div class="buttons">
        <button class="genericButton" (click)="changeSrc(1)">Andrew</button>

        <button class="genericButton" (click)="changeSrc(2)">Mica</button>

        <button class="genericButton" (click)="changeSrc(3)">Sheila</button>
      </div>
    </section>
    <p class="biography">{{user.biography}}</p>
  </main>
}


