<main class="streamer-main">

    <iframe id="player" src="http://167.71.61.5/andrew" scrolling="no" allowfullscreen type="video/mp4"></iframe>
  <section class="streamer">
    <img class="profile-picture" src="https://ih1.redbubble.net/image.3092348941.4978/st,small,845x845-pad,1000x1000,f8f8f8.jpg" alt="profile picture">
    <div class="streamer-info">
      <h1 class="username">{{usuario}} </h1>
      <p class="title">Título Stream</p>
    </div>
    <div class="buttons">
      <button class="genericButton" (click)="changeSrc(1)">Andrew</button>

      <button class="genericButton" (click)="changeSrc(2)">Mica</button>

      <button class="genericButton" (click)="changeSrc(3)">Sheila</button>
    </div>
  </section>
</main>

